<!DOCTYPE HTML>
<!--
	Highlights by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Milagres do Maranhão | E-Ouv</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/chat.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>
	<a href="/admin" style="position: fixed;z-index: 99999;right: 25px;top: 25px;color:#fff;"><i class="fa fa-user fa-2x"></i></a>
	<!-- Header -->
			<section id="header">
				<header class="major">
					<h1>Milagres do Maranhão | E-Ouv</h1>
					<p>Ficou fácil atender nosso povo!</p>
				</header>
				<div class="container">
					<ul class="actions">
						<li><a href="#one" class="button special scrolly">Saiba mais</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="images/pic01.jpg" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>Sobre</h2>
						</header>
						<p>Olá, me chamo <a href="http://jacsonsantos.ueuo.com/index.php/sobre-me/" target="_blank">Jacson Santos Silva</a>.<br>Meu principal foco ao criar está pagina, não é atingir ou prejudicar ninguém, mas poder ajudar o município com melhorias e com o intuito de ajudar a população de Milagres do maranhão e nossa administração atual. Onde cada cidadão pode manifestar uma ação cujo resultado seja produtivo para nosso município e assim o mesmo cresça e cada cidadão de Milagres do maranhão seja beneficiado com bons resultados e com uma ótima administração.</p>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="images/pic02.jpg" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>Serviços</h2>
						</header>
						<p>
							Atualmente escolhi apenas estes órgãos para poder buscar resultados positivos e transparentes, acredito que apenas estes órgãos seja possivel termos um município com bons resultados e bem administrado.</p>
						<ul class="icons-grid">
							{% for collection in collections %}
							<li>
								<span class="icon major {{ collection['icone'] }}"></span>
								<h3>{{ collection['orgao'] }}</h3>
							</li>
							{% endfor %}
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="images/pic03.jpg" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>O que devo fazer agora?</h2>
						</header>
						<h5>Viu algo errado na cidade, quer denunciar?</h5>
						<p>Faça uma Denúncia e entraremos em contato com o órgão responsável, certamente o mesmo ficará agradecido com tal ação. Seria interessante anexar uma imagem/foto, para poder provar a Denúncia, caso seja áudio ou vídeo, informe o link com o mesmo anexado.</p>
						<h5>Foi mal atendido, quer fazer uma reclamação?</h5>
						<p>Faça uma Reclamação.</p>
						<h5>Foi bem atendido?</h5>
						<p>Faça um Elogio.</p>
						<h5>Precisa de alguma informação do órgão?</h5>
						<p>Solicite as informações cuja a <a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2011/lei/l12527.htm" target="_blank">LEI Nº 12.527/2011</a> regulamenta o direito constitucional de acesso às informações públicas. Saiba mais no <a href="http://www.milagresdomaranhao.ma.gov.br/esic/index/" target="_blank" style="font-weight: 600">e-SIC</a>, acesse tambem o
							<a href="http://portaldatransparenciama.com.br/portal/?id=155" target="_blank" style="font-weight: 600">Portal da Transparência</a></p>
					</div>
					<a href="#footer" class="goto-next scrolly">Next</a>
				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
				<div class="container">
					<header class="major">
						<h2>Qual tipo de manifestação você quer fazer?</h2>
					</header>
					<form method="post" action="/" enctype="multipart/form-data">
						<div class="row uniform">
							<div class="12u$">
								<select name="category" id="category" required>
									<option value="">Selecione a Categoria</option>
									{% for cat in categorys %}
									<option value="{{ cat['key'] }}">{{ cat['name'] }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="12u$">
								<select name="orgao" id="category" required>
									<option value="">Selecione o Órgão</option>
									{% for collection in collections %}
										<option value="{{ collection['key'] }}">{{ collection['orgao'] }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Nome" required /></div>
							<div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" required /></div>
							<div class="12u$"><input type="text" name="subject" id="subject" placeholder="Assunto" required /></div>
							<div class="12u$"><textarea name="message" id="message" placeholder="Mensagem" rows="4" required></textarea></div>
							<div>
								<i class="icon alt fa-picture-o fa-2x photo" style="cursor: pointer;"></i> <span class="title">Nenhuma imagem selecionada</span>
								<input type="file" style="display:none;" name="photo" id="photo" accept="image/jpeg">
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><input type="submit" value="Enviar Mensagem" class="special" /></li>
								</ul>
							</div>
						</div>
					</form>
				</div>

				<!--div class="popup-box-min chat-popup popup-box-on" id="addClass" style="cursor: pointer">
					<div class="popup-head">
						<div class="popup-head-left pull-left" style="font-weight: 700;">Abrir Chat</div>
						<span><i class="fa fa-window"></i></span>
					</div>
				</div>

				<div class="popup-box chat-popup" id="qnimate">
					<div class="popup-head">
						<div class="popup-head-left pull-left"><img src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" alt="iamgurdeeposahan"> Gurdeep Osahan</div>
						<span id="removeClass" style="cursor: pointer;padding: 5px;" title="Minimizar"><i class="fa fa-minus"></i></span>
					</div>

					<div class="popup-messages">
						<div class="direct-chat-messages">
							<div class="chat-box-single-line">
								<abbr class="timestamp">October 8th, 2015</abbr>
							</div>

							<div class="direct-chat-msg doted-border">
								<img alt="message user image" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="direct-chat-img">
								<div class="direct-chat-text">
									Hey bro, how’s everything going ?
								</div>
								<div class="direct-chat-info clearfix">
									<span class="direct-chat-timestamp pull-right">3.36 PM</span>
								</div>
								<div class="direct-chat-info clearfix">
									<span class="direct-chat-img-reply-small pull-left"></span>
									<span class="direct-chat-reply-name">Singh</span>
								</div>
							</div>

						</div>
					</div>

					<div class="popup-messages-footer">
						<div class="12u$">
							<textarea placeholder="Type a message..." rows="4"></textarea>
						</div>
						<div class="icons">
							<button class=""><i class="icon fa fa-video-camera"></i> </button>
							<button class=""><i class="icon fa fa-camera"></i> </button>
							<button class=""><i class="icon fa fa-file"></i> </button>
							<button class=""><i class="icon fa fa-paper-plane"></i> </button>
						</div>
					</div>
				</div-->

				<footer>
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Jacson Santos</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Milagres do Maranhão</li>
					</ul>
				</footer>
			</section>
			<span style="position: fixed;padding: 10px 16px;border-radius: 50%;right: 15px;bottom: 25px;cursor: pointer;background: #8cd1a8;color:#fff;" class="top"><i class="fa fa-angle-double-up fa-2x"></i></span>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script>
//				var conn = new WebSocket('ws:'+url);
//				conn.onopen = function(e) {
//					console.log("Connection established!");
//				};
//
//				conn.onmessage = function(e) {
//					console.log(e.data);
//				};

//				$(function(){
//					$("#addClass").click(function () {
//						$('#qnimate').addClass('popup-box-on');
//					});
//
//					$("#removeClass").click(function () {
//						$('#qnimate').removeClass('popup-box-on');
//					});
//				})
				$(function () {
					$('.photo').on('click', function () {
						$('#photo').trigger('click');
					})

					$('#photo').on('click', function () {
						return true;
					})

					$('#photo').on('change', function () {
						$('.title').text($('#photo').val());
					})

					$('.top').on('click', function () {
						$('html, body').animate({scrollTop: ($('#header').offset().top - 40)}, 1000);
					})
				})
			</script>

	</body>
</html>